<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body th:with="user=${#request.getAttribute('x-dw-user')}">
    <block th:if="${user}">
        <p th:text="'Hello, your username is ' + ${username} + '.'" />
        <p th:text="'Your email is ' + ${email} + '.'" />
        <p th:text="'Your access token is ' + ${#request.getAttribute('x-datawiza-token-aad-access-token')}" />
        <p>Logout your account <a href="/ab-logout">here</a></p>
    </block>
    <block th:unless="${user}">
        <p>User not found! You can see <a href="https://github.com/datawiza-inc/AzureAD-SSO-JavaSpringApp">here</a> how to use No-Code Datwiza to build a Java Spring web application</p>
    </block>
</body>
</html>